<div class="message">
  <div class="kaiwa">
    <% if message.user == current_user %>
      <% position = 'right' %>
    <% else %>
      <% position = 'left' %>
    <% end %>
    <figure class="kaiwa-img-<%= position %>">
    <%= link_to "/users/#{message.user_id}" do %>
      <% if message.user.image? %>
        <%= image_tag message.user.image.url %>
      <% else %>
        <%= image_tag("no-image.png") %>
      <% end %>
    <% end %>
      <figcaption class="kaiwa-img-description">
        <%= message.user.name %>
      </figcaption>
    </figure>
    <div class="kaiwa-text-<%= position %>">
      <%= simple_format(message.content) %>
      <%= message.created_at%>
    </div>
  </div>
</div>