<div class="message">
  <div class="kaiwa">
    <figure class="kaiwa-img-right">
      <% if message.user.image? %>
        <%= image_tag message.user.image.url %>
      <% else %>
        <%= image_tag("no-image.png") %>
      <% end %>
      <figcaption class="kaiwa-img-description">
        <%= message.user.name %>
      </figcaption>
    </figure>
    <div class="kaiwa-text-right">
      <%= simple_format(message.content) %>
      <%= message.created_at%>
    </div>
  </div>
</div>