<% if user_signed_in? %>

  <% unless word.like_user(current_user.id).blank? %>
    <%= link_to word_like_path(word_id: word.id ,id: word.likes[0].id), method: :delete, remote: true do %>
      <div class="vertical_like">
        <i class="material-icons red-text">favorite</i>
        <span class="red-text">
          いいね<%= word.likes_count %>
        </span>
      </div>
    <% end %>
  <% else %>
    <%= link_to word_likes_path(word.id), method: :post, remote: true do %>
      <div class="novertical_like">
        <i class="material-icons grey-text text-darken-2">favorite_border</i>
        <span class="grey-text text-darken-2">
          いいね<%= word.likes_count %>
        </span>
      </div>
    <% end %>
  <% end %>

<% else %>

  <% if word.likes_count > 0 %>
    <div class="vertical_like">
      <i class="material-icons red-text">favorite</i>
      <span class="red-text">
        いいね<%= word.likes_count %>
      </span>
    </div>
  <% else %>
    <div class="vertical_like">
      <i class="material-icons grey-text text-darken-2">favorite_border<%= word.likes_count %></i>
      <span class="grey-text text-darken-2">
        いいね<%= word.likes_count %>
      </span>
    </div>
  <% end %>

<% end %>