<%= render 'link/header'%>
<div class="login__top">
  <div class="login__top__container">
    <h2 class = "login__top__container__title">Edit(編集)</h2> 
    <%= form_for(@user) do |f| %>
      <div class="field">
        <%= f.label "名前", class: 'field__label' %><br/>
        <%= f.text_field :name, autofocus: true, class: 'field__input' %>
      </div>

      <div class="field">
        <%= f.label :email, class: 'field__label' %><br />
        <%= f.email_field :email, class: 'field__input' %>
      </div>

      <div class="field">
        <%= f.label :profile,class: 'field__label' %><br />
        <%= f.text_area :profile, autofocus: true, class: 'field__input'%>
      </div>

      <div class="field">
        <div class="main__user__top__image">
          <% if @user.image? %>
            <div class="main__user__top__image__box"><%= image_tag @user.image.url %></div>
          <% else %>
            <%= image_tag("no-image.png") %>
          <% end %>
        </div>
        <%= f.file_field :image %>
        <%= f.submit 'プロフィール編集を完了する', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>