<%= render 'link/header'%>
<% if current_user.id == @user.id %>
<div class="main__user">
  <div class="main__user__top">
    <h2 class = "main__user__top__mypage">マイページ</h2>
    <div class="main__user__top__image">
      <% if @user.image? %>
        <div class="main__user__top__image__box"><%= image_tag @user.image.url %></div>
      <% else %>
        <%= image_tag("/images/no-image.png") %>
      <% end %>
    </div>
    <p class="main__user__top__name">name :<%= current_user.name %></p>
    <p class="main__user__top__profile">profile<br/><%= current_user.profile %></p>
    <p class="main__user__top__like"><%= link_to("いいね", "/users/#{@user.id}/like") %></p>
    <%= render 'follow_form', class: "follow_form"%>
    <%= render 'stats', class: "follow_stats" %>
  </div>
</div>
<% else %>
<div class="main__user">
  <p class="main__user__top__name">名前 :<%= @user.name %></p>
  <p class="main__user__top__profile">プロフィール<br/><%= @user.profile %></p>
  <%= render 'follow_form' %>
  <%= render 'stats' %>
</div>
<% end %>

<div class="word__main">
  <div class="word__main__box">
  <h2 class = "main__user__top__mypage"><i class="material-icons grey-text text-darken-2">favorite_border</i>いいね一覧</h2>
    <div class="container">
      <div class="word__wrapper">
        <% @likes.each do |like| %>
          <div class="word__wrapper__card">
            <% word = Word.find_by(id: like.word_id) %>
            <% user = User.find_by(id: word.user_id) %>
            <div class= "word__wrapper__card__title">
              <%= link_to(word.name, "/word/#{word.id}") %>
            </div>
            <div class="word__wrapper__card__description">
              <%= link_to(word.description, "/word/#{word.id}") %>
            </div>
            <div class="word__wrapper__card__name">
              <%= link_to(user.name, "/users/#{user.id}" ) %>    
            </div>
            <div class ="word__wrapper__card__btn">
            <% if word.user == current_user %>
              <%= link_to '編集', edit_word_path(word), class: 'btn btn-success' %>
              <%= link_to '削除', word, method: :delete, data:{ confirm: "タスク「#{word.name}」を削除します。よろしいですか？" }, class: 'btn btn-danger' %>
            <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <div>
  </div>
</div>