<% if current_user.id == @user.id %>
<div class="main__user">
  <div class="main__user__top">
    <h2 class = "main__user__top__mypage">マイページ</h2>
    <p class="main__user__top__name">name :<%= current_user.name %></p>
    <p class="main__user__top__profile">profile : <%= current_user.profile %></p>
    <%= render 'follow_form', class: "follow_form"%>
    <%= render 'stats', class: "follow_stats" %>
    <%= link_to("いいね!", "/users/#{@user.id}/like") %>
  </div>
</div>
<% else %>
<div class="main__user">
  <p class="main__user__top__name">名前 :<%= @user.name %></p>
  <p class="main__user__top__profile">プロフィール : <%= @user.profile %></p>
  <%= render 'follow_form' %>
  <%= render 'stats' %>
</div>
<% end %>
<% @likes.each do |like| %>
  <% word = Word.find_by(id: like.word_id) %>
  <% user = User.find_by(id: word.user_id) %>
  <%= link_to(user.name, "/users/#{user.id}" ) %>
  <%= link_to(word.name, "/word/#{word.id}") %>
<% end %>