<%= render 'link/header'%>
<% if current_user.id == @user.id %>
<div class="main__user">
  <div class="main__user__top">
    <h2 class = "main__user__top__mypage">マイページ</h2>
    <div class="main__user__top__image">
      <% if @user.image? %>
        <div class="main__user__top__image__box"><%= image_tag @user.image.url %></div>
      <% else %>
        <%= image_tag("/images/no-image.png") %>
      <% end %>
    </div>
    <p class="main__user__top__name">name :<%= current_user.name %></p>
    <p class="main__user__top__profile">profile : <%= current_user.profile %></p>
    <%= render 'follow_form', class: "follow_form"%>
    <%= render 'stats', class: "follow_stats" %>
    <%= link_to("いいね!", "/users/#{@user.id}/like") %>
    <%= link_to "編集", edit_user_path(@user)%>
  </div>
</div>
<% else %>
<div class="main__user">
  <div class="main__user__top__image">
    <% if @user.image? %>
      <div class="main__user__top__image__box"><%= image_tag @user.image.url %></div>
    <% else %>
      <%= image_tag("no-image.png") %>
    <% end %>
  </div>
  <p class="main__user__top__name">名前 :<%= @user.name %></p>
  <p class="main__user__top__profile">プロフィール : <%= @user.profile %></p>
  <%= render 'follow_form' %>
  <%= render 'stats' %>
</div>
<% end %>


<div class="main__word">
  <h2>word memory</h2>
  <%= render partial: "words/my-index", locals: { word: @word }%>
</div>