<%= render 'link/header'%>
<% if current_user.id == @user.id %>
  <%= render "profile"%>
<% else %>
<div class="main__user">
  <div class="main__user__top__image">
    <% if @user.image? %>
      <div class="main__user__top__image__box"><%= image_tag @user.image.url %></div>
    <% else %>
      <%= image_tag("no-image.png") %>
    <% end %>
  </div>
  <p class="main__user__top__name">名前<br/><%= @user.name %></p>
  <p class="main__user__top__profile">プロフィール<br/><%= @user.profile %></p>
  <%= render 'follow_form' %>
  <%= render 'stats' %>
</div>
<% end %>


<div class="main__word">
  <h2><%= fa_icon("book") %>word memory</h2>
  <%= render partial: "words/my-index", locals: { word: @word }%>
</div>

<%= render 'link/word'%>