<%= render 'link/header'%>
<div class="main">
</div>
<div class="user__main">
  <h2>＜ユーザーの検索結果＞</h2>
  <div class="user__main__box">
    <div class="search-box">
      <%= render "search_form" %>
    </div>
  <% if @users.present? %>
    <% @users.each do |user| %>
      <div class="follow-list">
        <%= link_to user_path(user) do %>
          <% if user.image.present? %>
            <%= image_tag "#{user.image.url}", class: "main__user__top__image", size: "100x100" %>
          <% else %>
            <%= image_tag "no-image.png", class: "main__user__top__image",size: "100x100" %>
          <% end %>
          <p class="follow-list__name"><%= user.name %></p>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <h2>ユーザーは存在しません</h2>
  <% end %>
  <%= paginate(@users) %>
  </div>
</div>