<%= form_with model: @word, local: true do |f| %>
<div class="word__main__box">
  <div class="form__group">
    <%= f.label "タグ付け", class: "form__group__label" %>
    <ul id="article-tags">
    </ul>
  </div>
  <div class="form__group">
    <%= f.label :名前, class: "form__group__label" %>
    <%= f.text_field :name, placeholder: "wordを入力(English only)", class: 'form__group__control', id: 'word_name' %>
  </div>
  <div class="form__group">
    <%= f.label :説明, class: "form__group__label" %>
    <%= f.text_area :description, placeholder: "説明を入力", rows: 5,class: 'form__group__control', id: 'word_description' %>
  </div>
  <div class="form__group">
    <%= f.label :カテゴリー, class: "form__group__label" %>
    <%= f.select :category, @categories, class: 'form__group__select', id: 'word_category' %>
  </div>
</div>
<%= f.submit "投稿する", class: 'btn btn-primary' %>
<% end %>


