<div class="search">
  <%= form_with(url: search_words_path, local: true, method: :get, class: "search-form") do |form| %>
    <div class="word-category">
      <i class="word-category__box"><%= form.select :category, @categories %><%= fa_icon('angle-down') %></i>
    </div>
    <%= form.text_field :keyword, placeholder: "Wordを検索する", class: "search-input"%>
    <div class="search-btn">
      <%= fa_icon("search") %><%= form.submit "検索", class:"search-btn__color"%>
    </div>
    <div class="word-search-result">
    </div>
  <% end %>
</div>
