<%= render 'link/header'%>
<div class="main">
</div>
<div class="word__main">
<h2 class="word__show__text">＜Word 投稿一覧＞</h2>
  <div class="word__main__box">
    <%= render "search" %>
    <div class="container">
      <div class="index__rank">
        <h2>ーーーーー いいねランキング ーーーーー</h2>
      </div>
      <%= render "like_rank"%>
      <h2>ーーーーーーー 新着 ーーーーーーーー</h2>
      <div class="word__wrapper">
        <%= render "card"%>
      </div>
      <div class="tag_list">
      <h5 class="tag_list__title">タグ一覧</h5>
        <div class="tag_list__content">
          <% @tags.each do |tag| %>
            <span class="badge badge-info">
              <%= link_to tag.name, tag_index_words_path(tag_name: tag.name), class: "text-white" %> 
              <%= "(#{tag.taggings_count})"%>
            </span>
          <% end %>
        </div>
      </div>
    </div>
    <%= paginate(@words) %>
  </div>
</div>
<%= render 'link/word'%>
