<%= render 'link/header'%>
<div class="main">
</div>

<div class="word__main">
<h2 class="word__show__text"><検索結果></h2>
<%= render "search" %>
  <div class="word__main__box">
    <div class="container">
      <div class="word__wrapper">
      <% if @words.present? %>
        <% @words.each do |word| %>
        <div class="word__wrapper__card">
          <div class= "word__wrapper__card__title">
            <%= link_to word.name, word_path(word) %>
          </div>
          <div class="word__wrapper__card__description">
            <%= link_to word.description, word_path(word) %>
          </div>
          <div class="word__wrapper__card__name">
            <%= link_to word.user.name %>
          </div>
          <div class="word__wrapper__card__category">
            <%= word.category %>
          </div>
          <div id="likes_buttons_<%= word.id %>">
            <%= render partial: 'likes/like', locals: { word: word, likes: @likes} %>
          </div>
          <div class ="word__wrapper__card__btn">
          <% unless word.user.id!= current_user.id %>
            <%= link_to '編集', edit_word_path(word), class: 'btn btn-success'%>
            <%= link_to '削除', word, method: :delete, data:{ confirm: "タスク「#{word.name}」を削除します。よろしいですか？" }, class: 'btn btn-danger' %>
          <% end %>
          </div>
        </div>
        <% end %>
      <% else %>
        <h2>単語は存在しません</h2>
      <% end %>
      </div>
      <%= paginate(@words) %>
    </div>
  </div>
</div>
