<%= render 'link/header'%>
<div class="main">
</div>

<div class="word__show">
  <h2 class="word__show__text">＜Word 詳細＞</h2>
  <div class ="word__show__box">
    <div class="word__show__box__card">
      <div class= "word__show__box__card__title">
        <%= link_to @word.name, word_path(@word) %>
      </div>
      <div class="word__show__box__card__description">
        <%= link_to @word.description, word_path(@word) %>
      </div>
      <div class="word__show__box__card__name">
        <%= link_to @word.user.name %>
      </div>
      <div class="word__wrapper__card__category">
        <%= @word.category %>
      </div>
      <div id="likes_buttons_<%= @word.id %>">
        <%= render partial: 'likes/like', locals: { word: @word, likes: @likes} %>
      </div>
    <% if current_user == @user %>
    <div class ="word__show__box__card__btn">
      <%= link_to "編集", edit_word_path, class: "btn btn-primary" %>
      <%= link_to '削除', @word, method: :delete, data:{ confirm: "word「#{@word.name}」を削除します。よろしいですか？" }, class: 'btn btn-danger' %>
    </div>
    <% end %>
    <div class="card-footer">
      タグ：<%= render partial: 'tags', locals: { tags: @word.tags }%>
    </div>
  </div>

  <div class="comments">
    <h4>コメント一覧</h4>
    <% if @comments %>
      <% @comments.each do |comment| %>
        <div class="comments__text" data-comment-id= "<%= comment.id %>">
          <p>
            <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
            <% if user_signed_in? && comment.user_id == current_user.id %>
              <%= link_to "削除", class: "comment-destroy" do %>
                <%= fa_icon("times-circle") %>
              <% end %>
            <% end %>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="container"> 
    <% if current_user %>
      <%= form_tag("/words/#{@word.id}/comments", method: :post, id: "new_comment") do %>
        <textarea cols="30" name="text" placeholder="コメントする" rows="2" class="form__textbox"></textarea>
        <input type="submit" value="コメントする" class="form__submit">
      <% end %>
    <% end %>
  </div>
</div>
