<%= render 'link/header'%>
<div id="show_user" data-show_user="<%= current_user.id %>"></div>
<div class="chat">
  <div class="chat_box">
    <!-- カスタムデータ属性にルームIDを格納し、js側で利用する -->
    <%= render @messages %>
    <div id="messages"></div>
  </div>
</div>
<footer class="form">  
  <div class="input">
    <%= text_field nil, nil, 'data-behavior': 'room_speaker', class: 'center-block' %>
    <%= button_tag '送信', class: 'chat_submit' %>
  </div>
</footer>